body {
  margin: 0;
  overflow: hidden;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.main-map {
  width: 100%;
  height: 100vh;
}

.map-coords-info-card {
  display: none;
  position: fixed;
  z-index: 90;
  top: 10px;
  left: 10px;
  border-radius: 6px;
  padding: 12px 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.24);
  width: 400px;
}
.map-coords-info-card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.map-coords-info-card-footer .btn:last-child {
  margin-left: 8px;
}

.map-coords-info-card-item {
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  padding-right: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.map-coords-info-card-item:hover::after {
  opacity: .54;
}

.map-coords-info-card-item::after {
  content: '';
  position: absolute;
  top: 6px;
  right: 5px;
  height: 24px;
  width: 24px;
  background-image: url('../icons/round_delete.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
  transition: 0.3s;
}

.map-coords-info-card-item:hover {
  background-color: rgba(0,0,0,.05);
}

.btn {
  cursor: pointer;
  border: none;
  line-height: 36px;
  height: 36px;
  font-size: 14px;
  padding: 0 8px;
  background: none;
  border-radius: 6px;
  outline: none;
}

.btn[disabled] {
  opacity: 0.6;
  cursor: default;
}

.primary-btn {
  background-color: blue;
  color: #fff
}

.secondary-btn {
  color: blue;
  background-color: rgba(0,0,255,.2)
}