<!-- <!DOCTYPE html>  -->
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        var factory_image = "{% static 'icons/oil_factory.svg' %}"
        var sump_imgae = "{% static 'icons/oil_sump.svg' %}"
        var storage_image = "{% static 'icons/oil_storage.svg' %}"
        var petrol_image = "{% static 'icons/oil_petrol.svg' %}"
    </script>
    <title>Oil Map</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<div class="map-coords-info-card">
    <div class="map-coords-info-card-content">

    </div>
    <div class="map-coords-info-card-footer">
        <div class="road-info">

        </div>
        <div class="btns-wrapper">
            <button onclick="selectedMarks.clearAll()" class="btn secondary-btn">Очистить выбор</button>
            <button onclick="showRoads()" class="btn primary-btn">Показать маршрут</button>
        </div>
    </div>
</div>
<div class="main-map" id="map"></div>
<script>window.API_URL = 'http://127.0.0.1:8000/'</script>
<script src="{% static 'js/model.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/listener.js' %}"></script>
</body>
</html>